name: Update HOY EPG

on:
  schedule:
    - cron: '1 16 * * 0'  # Every Monday 0:01am
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: pip install requests

      - name: Generate HOY EPG
        run: python epg/hoy.py    # <--- FIXED!!!

      - name: Commit & Push
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          git add epg/hoy.xml
          git commit -m "Update HOY EPG" || echo "No changes"
          git push
