name: Update HOY EPG

permissions:
  contents: write

on:
  schedule:
    - cron: '1 16 * * 0'  # Every Monday 0:01am
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Playwright
        run: |
          pip install playwright bs4
          playwright install chromium

      - name: Generate EPG
        run: python3 epg/hoy.py

      - name: Commit
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Auto update HOY EPG"
          file_pattern: epg/hoy.xml
